.main {
  padding-top: 3em;
  background-color: #32353C;
}

.main__subtitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #C1FD35;
  padding-bottom: 0.5rem;
}

.main__title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.main__section {
  padding: 2em 9em 1em;
}

/* -------------------------------- About us -------------------------------- */
.aboutUs {
  display: flex;
  align-items: center;
  gap: 3em;
  padding-top: 3rem;
}

.aboutUs__header {
  text-align: center;
}

.aboutUs__description {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  padding-bottom: 3rem;
}

.contactBtn {
  background: #3A393E;
  border: 1px solid #C1FD35;
  border-radius: 10px;
  padding: 0.7rem 1.5rem;
  color: #C1FD35;
  cursor: pointer;
  font-family: 'Open Sans';
  cursor: pointer;
}

.contactBtn:hover {
  background-color: #C1FD35;
  color: black;
}

/* --------------------------------- Team --------------------------------- */
.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 3em;
  column-gap: 25%;
}

.team__img {
  height: 10rem;
}


.team__card {
  padding-bottom: 3em;
}

.team__name {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #FFFFFF;
}

.team__rol {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 13px;
  color: #AAAAAA;
}

/* --------------------------------- Values --------------------------------- */
.values{
  padding-top: 3em;
  padding-bottom: 3em;
}

.value__title {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  color: #FFFFFF;
}

.value__desc {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 13px;
  color: #AAAAAA;
  text-align: justify;
}

.value__card {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.value__img{
  width: 8rem;
  padding-right: 1rem;
}