.footer {
  background-color: #3A393E;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.footer__socialMedia{
  color: #A2A2A2;
  cursor: pointer;
  padding-right: 1rem;
}

.footer__socialMedia:hover{
  color: #C1FD35;
}

.footer__title {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer__content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #A2A2A2;
  list-style: none;
}

.footer__content-option:hover{
  color:#C1FD35;
  cursor: pointer;
}

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 50px;
  color: #989898;
  mix-blend-mode: normal;
  opacity: 0.4;
}